.sty1{
    font-family: “微软雅黑”；
}
    .s2{
        text-align: center;
        color: black;
    }
    .s3{
        color: pink;
        position: absolute;
        top: 22500px;
        left: 900px;
    }